    @font-face {
        font-family: 'face';
        src: url(../fonts/Poppins-SemiBoldItalic.ttf);
    }

    @font-face {
        font-family: 'inter';
        src: url(../fonts/Inter_24pt-ExtraBold.ttf);
    }

    @font-face {
        font-family: 'interRegular';
        src: url(../fonts/Inter_18pt-Regular.ttf);
    }

    @font-face {
        font-family: 'interSemiBold';
        src: url(../fonts/Inter_24pt-SemiBoldItalic.ttf);
    }

    @font-face {
        font-family: 'interItalic';
        src: url(../fonts/Inter_18pt-Italic.ttf);
    }

    .site {
        max-width: 1200px;
        margin: 0 auto;
        /* Centraliza horizontalmente */
        text-align: center;
        /* Centraliza o texto dentro */
    }

    body {
        /* font-family: 'face'; */
        font-family: 'inter';
        background-color: #ffffff;
    }

    header .right {
        height: 20px;
        background-color: #BB87E9;
    }

    header .left {
        height: 75px;
        background-color: #8F5BBC;
    }

    .LogoNav {
        display: flex;
        justify-content: space-around;
    }

    .LogoNav .logoMenu {
        margin-top: -31px;
        height: 148px;
    }


    .logo {
        height: 40px;
        margin-right: 10px;
    }

    .LogoNav img {
        height: 144px;
        margin-top: -34px;
    }

    .LogoNav .Imagem {
        margin-top: -60px;
    }

    .input-pesquisa {
        flex: 1;
        border: none;
        outline: none;
        padding: 8px;
        font-size: 16px;
        border-radius: 20px;
        background: transparent;
    }

    .btn-pesquisa {
        background: none;
        border: none;
        cursor: pointer;
    }

    .btn-pesquisa img {
        height: 20px;
    }


    .LogoNav .cadastro {
        height: 40px;
        margin-top: -10px;
    }

    /* Estilizando a navegação */
    .LogoNav nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        /* Deixa os itens na mesma linha */
        margin-top: 31px;
    }

    /* Espaço entre os links */
    nav ul li {
        margin-right: 40px;
    }

    /* Estilo dos links */
    nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }

    /* Estilo para a barra de pesquisa */
    /* Estilo para a barra de pesquisa */
    .search-container {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        padding: 5px 15px;
        max-width: 400px;
        position: absolute;
        /* Posiciona a barra de pesquisa de forma absoluta */
        top: 35px;
        left: 50%;
        /* Centraliza horizontalmente */
        transform: translateX(-50%);
        /* Ajusta para centralizar perfeitamente */
        z-index: 1000;
        /* Garante que a barra de pesquisa fique acima do conteúdo */
    }

    /* Estilo do campo de pesquisa */
    .input-pesquisa {
        flex: 1;
        border: none;
        outline: none;
        padding: 8px;
        font-size: 16px;
        border-radius: 20px;
        background: transparent;
        color: #333;
    }

    /* Estilo do botão de pesquisa */
    .btn-pesquisa {
        background: none;
        border: none;
        cursor: pointer;
    }

    .btn-pesquisa img {
        height: 20px;
    }

    /* Estilos para a div .right */
    .right {
        position: relative;
        /* Necessário para a barra de pesquisa posicionada acima */
    }

    /* Estilo do botão de pesquisa */
    .btn-pesquisa {
        background: none;
        border: none;
        cursor: pointer;
    }

    .btn-pesquisa img {
        height: 20px;
    }

    /* Página Pesquisa */
    .pesquisa h1 {

        font-family: 'interSemiBold';
        font-size: 25pt;
        color: #8F5BBC;
        margin-top: 15px;


    }

    .pesquisa img {
        height: 155px;
        border-radius: 10px;
    }

    .pesquisa p {
        line-height: 17px;
        font-family: 'interRegular';
    }

    .pesquisa h2 {
        font-size: 15pt;
    }

    /* Centralizando o conteúdo */
    body.Pesquisa {
        font-family: Arial, sans-serif;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
    }

    .pesquisa-container {
        width: 90%;
        max-width: 1200px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        padding-left: 378px;

    }

    h1 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .pesquisa {
        margin-bottom: 20px;
        padding: 15px;
        background-color: #fafafa;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .pesquisa img {
        width: 200px;
        height: auto;
        margin: 10px 0;
        border-radius: 8px;
    }

    .pesquisa h2 {
        font-size: 1.5rem;
        color: #333;
    }

    .pesquisa p {
        color: #555;
    }

    .pesquisa a {
        display: inline-block;
        margin-top: 10px;
        color: #4CAF50;
        font-weight: bold;
        text-decoration: none;
    }

    .pesquisa a:hover {
        text-decoration: underline;
    }

    .banner img {
        height: 425px;
        width: 100%;
    }

    .banner {
        position: relative;
        text-align: center;

    }

    .banner div {
        position: relative;
    }

    .banner h1 {
        position: absolute;
        top: 20px;
        /* Distância do topo - ajuste como quiser */
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        /* Ou a cor que preferir */
        font-size: 2rem;
        /* Ajuste o tamanho da fonte */
        z-index: 2;
        margin-top: 191px;

    }

    .destaques {
        font-family: 'interRegular';
    }

    .destaques h1 {
        font-family: 'interSemiBold';
        font-size: 25pt;
        color: #8F5BBC;
        margin-top: 15px;
    }

    .destaques img {
        height: 155px;
        border-radius: 10px;

    }


    .destaques .livrosDestaque {

        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 35px;
    }

    .livrosDestaque p {
        color: black;
        font-family: 'interRegular';
        margin-top: 3px;
        line-height: 19px;

    }

    .SecaoAchados {
        font-family: 'interRegular';

    }

    .SecaoAchados h1 {
        font-family: 'interSemiBold';
        font-size: 25pt;
        color: #8F5BBC;
        margin-top: 15px;
    }

    .SecaoAchados img {
        height: 155px;
        border-radius: 10px;
    }


    .SecaoAchados .livrosFiccao {

        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 200px;

    }

    .livrosFiccao p {
        color: black;
        font-family: 'interRegular';
        margin-top: 10pt;
        line-height: 15pt;
    }

    .SecaoAchados .livrosRomance {

        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 200px;
    }

    .SecaoAchados .secaoSerie {

        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 200px;
    }

    .secaoSerie p {
        line-height: 15pt;
    }

    .livrosRomance p {
        color: black;
        font-family: 'interRegular';
        margin-top: 10pt;
        line-height: 15pt;
    }

    .SecaoAchados h2 {
        display: flex;
        margin-top: 30px;
        font-size: 20pt;
        color: #8F5BBC;
        padding-left: 90px;
        font-family: 'interSemiBold';
    }

    .SecaoAchados p {
        margin-top: 7px;
    }

    .secaoVerao .linha {
        margin-top: 30px;
        margin-bottom: 10px;
        height: 26px;
        background-color: #BB87E9;

    }

    .curiosidades .linha {
        margin-top: 30px;
        margin-bottom: 10px;
        height: 26px;
        background-color: #BB87E9;
    }

    .curiosidades .linha h2 {
        color: #ffffff;
        font-size: 20pt;
        font-family: 'interSemiBold';
        padding-left: 105px;
    }

    .secaoVerao h1 {
        font-family: 'interSemiBold';
        padding-right: 116px;
        font-size: 20pt;
        color: #8F5BBC;
        line-height: 20pt;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }

    .secaoVerao .imagem {
        display: flex;
        justify-content: center;
    }

    .secaoVerao img {
        width: 800px;
        height: 500px;
        object-fit: cover;
        image-rendering: auto;
        margin-right: 160px;
        margin-bottom: 5px;
    }

    .secaoSerie {
        display: flex;
    }

    .background {
        background-color: #A95BBC;
        margin-top: -5px;
        
        padding-top: 30px;
        /* Empurra o conteúdo para baixo sem afetar a posição da seção */
    }

    .background h1 {

        font-size: 30pt;
        color: #ffffff;

    }
    .zoom-imagem {
        transition: transform 0.3s ease;
        cursor: pointer;
        max-width: 100%;
        height: auto;
    }
    
    .zoom-imagem:hover {
        transform: scale(1.1);
    }
    .modal {
        display: none;
        position: fixed;
        z-index: 999;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.8);
    }
    
    .modal-conteudo {
        display: block;
        margin: auto;
        max-width: 90%;
        max-height: 80%;
    }
    
    .fechar {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
    }
    
    

    .background .livro-item {
        display: flex;
    }


    .background .logoImagem {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .background .Infos {
        padding-left: 100px;
    }

    .background .canalStreaming {
        display: flex;
        margin-top: 50px;


    }

    .background .teste {
        display: flex;
    }

    .canalStreaming h3 {
        padding-left: 10px;
        /* color: #ffffff; */
        font-size: 20pt;
    }

    .teste {
        display: flex;
        flex-wrap: wrap;
        gap: 100px;
        padding: 20px;
        justify-content: center;
        justify-content: center;
        padding-right: 200px;
    }

    .livro-item {

        text-align: center;
    }

    .livro-item img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
        flex: 1 1 200px;
        /* Cresce, diminui, tamanho base */
        max-width: 200px;
        background-color: #f9f9f9;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    /* Estilo do Modal */
    .modal {
        display: none;
        /* Escondido inicialmente */
        position: fixed;
        z-index: 1000;
        padding-top: 60px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 0;
        /* Inicialmente invisível */
        transition: opacity 0.5s ease;
        /* Aplica fade no modal */
    }

    /* Quando o modal for ativado */
    .modal.mostrar {
        display: block;
        opacity: 1;
        /* Faz o modal aparecer */
    }

    /* Imagem dentro do Modal */
    .modal-conteudo {
        margin: auto;
        display: block;
        max-width: 90%;
        max-height: 80%;
        border-radius: 8px;
        transform: scale(0.8);
        /* Começa menor */
        opacity: 0;
        /* Começa invisível */
        transition: transform 0.5s ease, opacity 0.5s ease;
        /* Animação de zoom e fade */
    }

    /* Quando o modal for ativado, a imagem faz o zoom e aparece */
    .modal.mostrar .modal-conteudo {
        transform: scale(1);
        /* A imagem cresce */
        opacity: 1;
        /* A imagem se torna visível */
    }

    /* Botão de fechar (X) */
    .fechar {
        position: absolute;
        top: 10px;
        right: 20px;
        color: white;
        font-size: 40px;
        font-weight: bold;
        cursor: pointer;
        z-index: 1001;
        opacity: 0;
        /* Inicialmente invisível */
        transition: opacity 0.5s ease;
        /* Aplica o fade no botão de fechar */
    }

    /* Quando o modal for ativado, o botão de fechar aparece */
    .modal.mostrar .fechar {
        opacity: 1;
        /* Faz o botão de fechar aparecer */
    }

    /* Efeito de hover no X */
    .fechar:hover,
    .fechar:focus {
        color: #bbb;
    }






    .infos p {
        margin: 5px 0;
    }


    .canalStreaming img {
        margin-top: -13px;
    }

    .background .paragrafoStreaming {
        font-family: 'interRegular';

        color: #ffffff;

        line-height: 20px;
    }

    .paragrafoStreaming p {
        margin-top: 20px;
        font-size: 12pt;
    }

    .AchadosTexto p {
        margin-top: 30px;
    }

    .botao {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding-left: 576px;
    }

    .botao button {
        display: flex;
        align-items: center;
        background-color: #8F5BBC;
        color: white;
        font-size: 20px;
        font-family: 'interRegular';
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        /* Cantos arredondados */
        cursor: pointer;
        transition: background 0.3s ease;
        margin-left: 259px;
    }

    .botao button img {
        width: 20px;
        /* Ajusta o tamanho do ícone */
        height: 20px;
        margin-right: 8px;
        /* Espaço entre o ícone e o texto */
    }

    .botao button:hover {
        background-color: #A95BBC;
        /* Cor ao passar o mouse */
    }

    /* Página Blog */
    /* .blogInfos h1 {
        margin-top: 20px;
        color: #A95BBC;
        font-family: 'interSemiBold';
        text-align: center;
        font-size: 20pt;
    }

    .blogInfos p {
        font-family: 'interRegular';
        text-align: center;
        margin-top: 20px;
    }

    .blogInfos img {
        height: 155px;
        border-radius: 10px;
        margin-top: 20px;

    }

    .blogInfos .Recomendacoes {
        display: flex;
    }

    .Recomendacoes {
        justify-content: center;
        gap: 50px;
    }

    .blogInfos {
        text-align: center;
    }

    .curiosidades h1 {
        margin-top: 20px;
        color: #A95BBC;
        font-family: 'interSemiBold';
        text-align: center;
        font-size: 20pt;
    }

    .Obras h3 {
        margin-top: 10px;
        color: #A95BBC;
        font-family: 'interSemiBold';
        text-align: center;
        font-size: 20pt;
    }

    .Obras .autor {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 75px;
        text-align: center;
    }

    .Obras .autor img {
        height: 155px;
        border-radius: 10px;

    }

    .autor p {
        line-height: 25px;
        font-family: 'interRegular';
        text-align: center;

    }

    .curiosidades button {
        display: flex;
        align-items: center;
        background-color: #BB87E9;
        color: white;
        font-size: 20px;
        font-family: 'interSemiBold';
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
       cursor: pointer;
        transition: background 0.3s ease;

    }

    .curiosidades button:hover {
        background-color: #A95BBC;
    }

    .curiosidades button img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }

    .curiosidades .botao {
        padding-left: 600px;
    }

    .fotoTexto {
        display: flex;
        padding-left: 100px;
    }

    .fotoTexto p {
        margin-top: 80px;

        font-family: 'interRegular';
        text-align: justify;
        padding-left: 10px;
        padding-right: 200px;
        line-height: 25px;

    }

    .Filme img {
        margin-top: 10px;
        width: 100%;
        height: 435px;
        object-fit: cover;
    }

    .curiosidades .backInfos {
        background-color: #A95BBC;
        height: 308px;
        margin-top: -10px;
    }

    .backInfos h3 {
        font-size: 20pt;
        color: #ffffff;
        padding-top: 30px;
        padding-left: 100px;
    }

    .Streaming {
        padding-left: 100px;
    }

    .Streaming p {
        color: #ffffff;
        font-family: 'interRegular';

    }

    .backInfos img {
        border-radius: 50%;
        height: 35px;
    }

    .Streaming .canalStreaming {
        display: flex;
    }

    .canalStreaming {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .canalStreaming p {
        color: #ffffff;
        padding-left: 10px;
        font-family: 'interRegular';
    }

    .sobre h1 {
        font-family: 'interSemiBold';
        font-size: 25pt;
        color: #8F5BBC;
        margin-top: 15px;
        text-align: center;
    }

    .sobre p {

        text-align: start;
        line-height: 35px;
        font-family: 'interItalic';
    }

    .sobre .fotoTexto {
        margin-top: -43px;
    }

    .sobre .Espaco img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        margin-top: 30px;
        margin-bottom: -5px;
    } */
    /* Estilos gerais para a página */
    body {
        /* font-family: 'interRegular'; */
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    section {
        padding: 50px 20px;
    }

    /* Estilos para a seção de resenhas e recomendações */
    .blogInfos h1 {
        font-family: 'interSemiBold';
        font-size: 2.5rem;
        text-align: center;
        color: #8F5BBC;
        margin-bottom: 20px;
    }

    .blogInfos p {
        font-family: 'interRegular';
        font-size: 1.2rem;
        text-align: center;
        color: #777;
        margin-bottom: 40px;
    }

    .Recomendacoes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .Recomendacoes div {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease;
    }

    .Recomendacoes div:hover {
        transform: translateY(-5px);
    }

    .Recomendacoes img {
        width: 100%;
        height: 500px;
        border-radius: 10px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .Recomendacoes p {
        font-size: 1.1rem;
        color: #333;
        margin-top: 0;
    }

    .Recomendacoes p br {
        display: none;
        /* Remove a quebra de linha se não necessário */
    }

    /* Estilos para a seção de curiosidades */
    .curiosidades h1 {
        font-size: 2.5rem;
        text-align: center;
        color: #4A4A4A;
        margin-bottom: 30px;
    }

    .fotoTexto {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 50px;
    }

    .fotoTexto img {
        border-radius: 10px;
        width: 250px;
        height: 350px;
        object-fit: cover;
    }

    .fotoTexto p {
        font-size: 1.1rem;
        color: #555;
        max-width: 600px;
        line-height: 1.6;
    }

    .linha h2 {
        font-size: 2rem;
        color: #333;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }

    /* Estilos para a lista de obras do autor */
    .Obras {
        text-align: center;
    }

    .Obras h3 {
        font-size: 1.8rem;
        margin-bottom: 30px;
        color: #333;
    }

    .autor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .autor div {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .autor img {
        height: 155px;
        border-radius: 10px;
    }

    .autor p {
        font-size: 1rem;
        color: #333;
    }

    /* Estilos para o botão */
    .botao {
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }

    .botao button {
        background-color: #4CAF50;
        color: white;
        font-size: 1.2rem;
        padding: 15px 30px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .botao button:hover {
        background-color: #45a049;
    }

    .botao img {
        width: 20px;
        height: auto;
    }

    /* Estilos para o filme */
    /* Estilos para a seção de filme */
    .Filme h1 {
        font-size: 2.5rem;
        text-align: center;
        color: #4A4A4A;
        margin-bottom: 30px;
    }

    .Filme img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }

    /* Estilos para a seção de onde assistir */
    .backInfos h3 {
        font-size: 2rem;
        color: #333;
        margin-bottom: 30px;
        text-align: center;
    }

    .Streaming {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .canalStreaming {
        display: flex;
        align-items: center;
        gap: 15px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        transition: transform 0.3s ease;
    }

    .canalStreaming:hover {
        transform: translateY(-5px);
    }

    .canalStreaming img {
        width: 50px;
        /* Ajuste a largura das imagens das logos */
        height: 50px;
        /* Ajuste a altura para manter o aspecto quadrado */
        border-radius: 50%;
        /* Bordas arredondadas */
    }

    .canalStreaming p {
        font-size: 1.1rem;
        color: #555;
        margin: 0;
    }

    /* Estilo para o parágrafo geral das outras plataformas */
    .backInfos p {
        font-size: 1rem;
        color: #777;
        text-align: center;
        margin-top: 30px;
    }

    /* Responsividade para telas menores */
    @media (max-width: 768px) {
        .Streaming {
            flex-direction: column;
            gap: 15px;
        }

        .canalStreaming {
            width: 80%;
            /* Largura reduzida em dispositivos menores */
            padding: 15px;
        }

        .canalStreaming img {
            width: 40px;
            height: 40px;
        }

        .canalStreaming p {
            font-size: 1rem;
        }
    }

    /* Responsividade para telas de até 480px */
    @media (max-width: 480px) {
        .Recomendacoes {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .Recomendacoes div {
            width: 80%;
        }

        .fotoTexto {
            flex-direction: column;
            align-items: center;
        }

        .fotoTexto img {
            width: 150px;
            height: 150px;
        }

        .fotoTexto p {
            width: 90%;
        }

        .Streaming {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .canalStreaming {
            width: 80%;
            padding: 15px;
        }

        .canalStreaming img {
            width: 40px;
            height: 40px;
        }

        .canalStreaming p {
            font-size: 0.9rem;
        }

        .LogoNav img {
            display: none;
        }

        .left nav {
            display: none;
        }
    }

    /* Responsividade */
    @media (max-width: 1200px) {
        .Recomendacoes {
            grid-template-columns: repeat(2, 1fr);
        }

        .fotoTexto {
            flex-direction: column;
        }

        .fotoTexto img {
            width: 100%;
            height: 300px;
        }

        .Recomendacoes div {
            padding: 15px;
        }

        .autor {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 768px) {
        .Recomendacoes {
            grid-template-columns: 1fr;
        }

        .fotoTexto {
            flex-direction: column;
        }

        .fotoTexto img {
            width: 80%;
            height: 250px;
            margin-bottom: 20px;
        }

        .fotoTexto p {
            font-size: 1rem;
        }

        .botao button {
            font-size: 1rem;
            padding: 10px 20px;
        }

        .Filme h1 {
            font-size: 2rem;
        }
    }

    @media (max-width: 480px) {
        .Recomendacoes p {
            font-size: 1rem;
        }

        .botao button {
            font-size: 1rem;
            padding: 8px 18px;
        }

        .Recomendacoes img {
            height: 250px;
        }

        .autor div {
            padding: 10px;
        }

        .autor img {
            height: 200px;
        }
    }


    .formContato {
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 599px;
    }

    .formContato .mensagem p {
        margin-top: 10px;
        color: #ffffff;

    }

    .formContato .mensagem a {
        text-decoration: none;
    }

    .formContato h1 {
        font-family: 'interSemiBold';
        font-size: 25pt;
        color: #8F5BBC;

        text-align: center;
    }

    .contato-container {
        width: 600px;

        padding: 20px;
        background: #BB87E9;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .campo {
        margin-bottom: 15px;
    }

    .campo .campo2 {
        display: flex;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;
    }

    .campo .campo2 label {
        padding: unset;
        padding-left: 25px;
    }

    .campo label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #ffffff;
        text-align: left;
        padding-left: 97px;
        font-size: 15pt;
    }

    .campo input,
    .campo textarea {
        width: 70%;
        border: 1px solid #ccc;
        border-radius: 15px;
        background-color: #D9D9D9;
        height: 24px;
        font-family: 'interSemiBold';
        text-align: center;

    }

    .botoes {
        display: flex;
        justify-content: space-between;
    }

    .btn-enviar {
        display: flex;
        align-items: center;
        background: #8F5BBC;
        color: white;
        padding: 3px 5px;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        font-family: 'inter';
    }

    .botoes {
        padding-left: 100px;
        padding-right: 100px;
    }

    .btn-enviar img {
        width: 20px;
        /* Ajuste o tamanho da imagem */
        margin-right: 8px;
    }




    .rodape {
        background-color: #8F5BBC;
        color: #fff;
        /* Texto branco */
        padding: 30px 90px;
        text-align: center;

    }

    .rodape .top {
        height: 20px;
        background-color: #BB87E9;
        margin-top: -100px
    }

    .rodape-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
    }

    .rodape nav {
        flex: 1;
        min-width: 200px;
        margin: 10px;
        text-align: left;
    }

    .rodape h1 {
        font-size: 15pt;
        margin-bottom: 10px;
    }

    .rodape ul {
        list-style: none;
        padding: 0;
    }

    .rodape ul li {
        display: flex;
        align-items: center;
        /* Alinha o ícone e o texto */
        margin-bottom: 8px;
        font-family: 'interRegular';
        color: #ffffff;
    }

    .rodape ul li img {
        width: 18px;
        /* Tamanho uniforme dos ícones */
        height: 18px;
        margin-right: 8px;
        /* Espaço entre o ícone e o texto */
    }

    .rodape a {
        color: #ffffff;
        font-weight: normal;

    }

    .rodape a:hover {
        color: #fff;

    }

    .rodape p {
        margin-top: 30px;
        font-size: 15pt;
        color: #ffffff;
    }

    /*Páginas Livro*/
    .Colunas {
        display: flex;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: 100px;
        margin-right: 101px;
        height: 599px;

    }

    .Colunas button {
        display: flex;
        align-items: center;
        background-color: #8F5BBC;
        color: white;
        font-size: 20px;
        font-family: 'interRegular';
        border: none;
        padding: 10px 20px;
        border-radius: 15px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .Colunas .quantidade {

        font-size: 15px;
    }

    .botoes-1 .adicionar {
        background-color: #8F5BBC;
        color: white;
        font-size: 15px;
        border-radius: 15px;
        border: none;
        width: 180px;
        height: 30px;




    }

    .botoes-1 .comprar {
        background-color: #8F5BBC;
        color: white;
        font-size: 15px;
        border-radius: 15px;
        border: none;
        width: 130px;
        height: 30px;


    }

    .botoes-1 {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        padding-right: 100px;
    }




    .imgInfo {
        text-align: center;
    }

    .imgInfo h3 {
        margin-top: 10px;
    }

    .imgInfo button {
        margin-top: 10px;
    }

    .Colunas .imgInfo img {
        margin-top: 50px;
        height: 250px;
        border-radius: 10px;

    }

    .Colunas h1 {
        margin-top: 20px;
        font-size: 20pt;
        padding-left: 50px;
        padding-right: 100px;
        line-height: 19pt;
    }

    .Colunas h2 {
        padding-left: 50px;
        padding-right: 100px;
        line-height: 20pt;
    }

    .Colunas p {
        text-align: justify;
        font-family: 'interRegular';
        line-height: 19pt;
        padding-left: 50px;

        margin-top: 10px;
    }

    .EditoraePub {
        display: flex;
        margin-left: 30px;
    }

    .EditoraePub .bold {
        font-family: 'interSemiBold';
    }

    .editora {
        text-align: center;
    }

    .publicacao {
        text-align: center;
    }

    .WhatsApp {
        position: fixed;
        right: 203px;
        z-index: 9999;
        top: 524px;
        display: flex;

        justify-content: space-evenly;
        align-items: baseline;
        flex-direction: row-reverse;
    }



    /* RESPONSIVO 1024PX */
    @media (max-width: 1024px) {
        .LogoNav {
            display: flex;
            justify-content: space-around;
        }

        .LogoNav img {
            margin-top: -31px;
            height: 148px;
            padding-right: 535px;
            padding-left: 21px;
        }


        /* Estilizando a navegação */
        .LogoNav nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            /* Deixa os itens na mesma linha */
            margin-top: 31px;
        }

        /* Espaço entre os links */
        nav ul li {
            margin-right: 40px;
        }

        /* Estilo dos links */
        nav ul li a {
            text-decoration: none;
            color: #ffffff;
            font-weight: bold;
        }

        .SecaoAchados .livrosFiccao {

            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 140px;
            padding-right: 73px;

        }

        .SecaoAchados .h2 h2 {
            padding-left: 60px;
        }

        .SecaoAchados .livrosRomance {

            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 140px;
            padding-right: 73px;

        }

        .SecaoAchados .secaoSerie {

            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 120px;
            padding-right: 83px;
        }



    }

    @media (max-width: 320px) {
        .banner img {
            height: 425px;
            width: auto;
            object-fit: cover;
            /* ou contain, dependendo do efeito que você quer */
            display: block;
            /* remove espaços extras abaixo da imagem */
        }

        header .right {
            width: 1280px;
        }

        header .left {

            width: 1280px;
        }

        .LogoNav img {
            padding-right: 516px;
            padding-left: 74px;
        }

        .destaques .livrosDestaque {
            padding-left: 600px;
        }

        /* .botao {
            position: relative;
            left: 20px;
            
        } */

        .destaques h1 {
            text-align: center;
            margin: 14px 100px;
            width: 125%;


        }

        .SecaoAchados h1 {
            text-align: center;
            margin: 15px 467px;
            width: 100%;
        }

        .destaques {
            display: flex;
            flex-direction: column;
            /* Faz com que os itens sejam dispostos em coluna */
        }

        .botao {
            align-self: flex-end;
            /* Isso vai alinhar o botão à direita */
            margin-top: 20px;
            /* Se quiser adicionar um espaçamento entre o conteúdo e o botão */
        }

        button {
            background-color: #007BFF;
            /* Cor de fundo para o botão */
            color: white;
            /* Cor do texto */
            border: none;
            /* Remove borda */
            padding: 10px 20px;
            /* Tamanho do botão */
            cursor: pointer;
            /* Aponta o cursor para o botão */
            border-radius: 5px;
            /* Bordas arredondadas */
        }

        button img {
            vertical-align: middle;
            /* Alinha a imagem do ícone com o texto */
            margin-right: 8px;
            /* Espaço entre o ícone e o texto */
        }

        .SecaoAchados {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Centraliza os itens horizontalmente */
            padding: 10px;
            /* Adiciona um pequeno preenchimento */
        }

        .AchadosTexto {
            text-align: center;
            /* Centraliza o texto */
        }

        .h2 h2 {
            text-align: center;
            /* Centraliza o título das categorias */
            font-size: 30pt;
            /* Ajusta o tamanho da fonte */
            margin: 10px 0;
            /* Adiciona espaçamento acima e abaixo do título */
        }

        .livrosFiccao,
        .livrosRomance {
            display: flex;
            justify-content: center;
            /* Centraliza os itens na linha */
            gap: 15px;
            /* Espaço entre os itens */
            width: 100%;
            /* Garante que ocupe toda a largura disponível */
        }

        .livrosFiccao div,
        .livrosRomance div {
            width: 100%;
            /* Faz com que cada livro ocupe a largura inteira disponível */
            text-align: center;
            /* Centraliza o texto e as imagens */
        }

        .livrosFiccao img,
        .livrosRomance img {
            max-width: 120%;
            /* Ajusta o tamanho das imagens */
            height: 365px;

        }

        .SecaoAchados p {
            font-size: 20pt;
            line-height: 30px;
        }

        .SecaoAchados .intro {
            padding-left: 600px;
        }

        .SecaoAchados .livrosFiccao {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 101px;
            padding-left: 262px;
            flex-wrap: wrap;
        }

        .SecaoAchados .livrosRomance {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            gap: 101px;
            padding-left: 262px;
            flex-wrap: wrap;
        }

        .secaoVerao .linha {
            width: 1280px;
        }

        .secaoVerao img {
            padding-left: 1433px;

        }

        .secaoVerao h1 {
            padding-left: 803px;
        }



        .background {
            width: 1280px;

        }

        footer {
            width: 1280px;
        }

        .rodape nav {
            padding-left: 132px;
        }

        .rodape {
            padding: 20px 10px;
            text-align: center;
        }

        .rodape-container {
            flex-direction: column;
            align-items: center;
            padding-left: 179px;

        }

        .rodape nav h1 {
            font-size: 20pt;
            margin-bottom: 8px;
        }

        .rodape ul {
            padding: 0;
        }

        .rodape li {
            justify-content: center;
            font-size: 15pt;
            margin-bottom: 6px;
            flex-wrap: wrap;
        }

        .rodape li img {
            width: 16px;
            height: 16px;
        }

        .rodape p {
            margin-top: 20px;
            font-size: 12px;
            line-height: 1.4;
            padding-left: 300px;
        }

        .rodape h1 {
            text-align: center;
        }

    }